html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -- BEGIN CUSTOM CSS --*/

@font-face {
    font-family: 'silkscreen-normal';
    src: url('fonts/silkscreen/slkscr-webfont.eot');
    src: url('fonts/silkscreen/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/silkscreen/slkscr-webfont.woff') format('woff'),
         url('fonts/silkscreen/slkscr-webfont.ttf') format('truetype'),
         url('fonts/silkscreen/slkscr-webfont.svg#SilkscreenNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: "museo-sans-300";
  src: local("?"),
    url("fonts/museo-sans/MuseoSans_300.otf") format("opentype");
  }

@font-face {
  font-family: "museo-sans-500";
  src: local("?"),
    url("fonts/museo-sans/MuseoSans_500.otf") format("opentype");
  }
  
@font-face {
  font-family: "museo-sans-700";
  src: local("?"),
    url("fonts/museo-sans/MuseoSans_700.otf") format("opentype");
  }  

body {background-color:#8AC6D6;}

h1 {
	font-family:"silkscreen-normal",helvetica,arial,sans-serif;
	width:100%;
	font-size:49px;
	margin:0 0 20px 0;
	color:#ffffff;
	text-shadow:0 1px 2px rgba(0,0,0,.75);
}

h1 span {
	-webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
    animation: blink .75s linear infinite;
    }
    
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}


.container {
	width:320px;
	padding:10px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	height:460px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-230px 0 0 -160px;
}

ul {
	list-style-type:none;
}

li {
	width:100%;
	padding:0;
	margin:0 0 20px 0;
}

li a {
	display:block;
	width:100%;
	height:auto;
	padding:10px;
	border:1px solid rgba(0,0,0,.25);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	text-decoration:none;
	-moz-box-shadow:inset 0 1px 2px rgba(255,255,255,.5);
	-webkit-box-shadow:inset 0 1px 2px rgba(255,255,255,.5);
	box-shadow:inset 0 1px 2px rgba(255,255,255,.5);
	-webkit-transition:all .15s linear;
	-moz-transition:all .15s linear;
	transition:all .15s linear;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

li a:hover {
	background-color:rgba(255,255,255,.15);
	-moz-box-shadow:inset 0 1px 2px rgba(255,255,255,.5), 0 1px 1px rgba(0,0,0,.15);
	-webkit-box-shadow:inset 0 1px 2px rgba(255,255,255,.5), 0 1px 1px rgba(0,0,0,.15);
	box-shadow:inset 0 1px 2px rgba(255,255,255,.5), 0 1px 1px rgba(0,0,0,.15);

	
}

li a span.icon {
	width:61px;
	height:61px;
	display:inline-block;
	margin:0 10px 0 0;
	position:relative;
	
}

.linkedin {
	background:url("images/linkedin.png") center center no-repeat transparent;
}

.resume {
	background:url("images/resume.png") center center no-repeat transparent;
}

.mail {
	background:url("images/mail.png") center center no-repeat transparent;
}

li a span.title {
	font-family:"museo-sans-700",helvetica,arial,sans-serif; font-size:18px; color:#ffffff; text-shadow:0 1px 1px rgba(0,0,0,.75); display:inline-block; position:relative; bottom:21px;
}

@media screen and (max-width: 600px) {

	.container {position:static; margin:30px auto;}

} 

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
   .linkedin {background-image:url("images/linkedin-2x.png"); background-size:61px;}
   .mail {background-image:url("images/mail-2x.png"); background-size:61px;}
   .resume {background-image:url("images/resume-2x.png"); background-size:61px;}
}